.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    margin: 30%;
}

.heading, .btn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.click{
    display: inline-flex;
    font-family: "Dancing Script", cursive;
    font-size: small;
}

.inputDetails{
    width: 200px;
    border-radius: 10px;
}



